/*.xml
~.xml
/_thumbnail/*.png
/file1.wmv
/file10.wmv
/file11.wmv
/file12.wmv
/file13.wmv
/file14.wmv
/file15.wmv
/file16.wmv
/file2.wmv
/file3.wmv
/file4.wmv
/file5.wmv
/file6.wmv
/file7.wmv
/file8.wmv
/file9.wmv
